body{
    margin: 0;
    padding: 0;
}

#game-screen {
    display: block;
}

#gameOver, #playHUD {
    position: absolute;
    visibility: hidden;
}

h1, h2 ,h3 {
    font-family: 'Monofett', cursive;
    color: black;
    text-align: center;
}

.title {
    font-size: 100px;
    margin-bottom: 0px;
    margin-top: 0px;
}

#restartButton {
    border: 2px solid black;
}

#restartButton:hover {
    background-color: #ffffff;
}

#scoreboard {
    margin: 0px;
}